@model IEnumerable<ZenithSociety.Models.UserRoleModels.UserRoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Assign">Assign User to Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(a => a.UserName)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @if (!item.UserName.Equals("p") || !item.RoleName.Equals("Admin"))
                {
                    <form asp-action="Delete">
                        <input type="hidden" name="userId" value="@item.UserId" />
                        <input type="hidden" name="roleName" value="@item.RoleName" />
                        <div class="btn btn-sm">
                             <input type="submit" value="Delete" class="btn btn-default" />
                        </div>
                   </form>
                }
            </td>
        </tr>
}
    </tbody>
</table>
